

/* Check if duplicated */
  
  
  .feedItem {
    background: #101010;
    color: white;
    border-bottom: 1px solid #222;
    margin-bottom: var(--space-normal);
  }
  
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
 
  


  
  .feedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:var(--space-xsmall);
  }
  

   .avatar {
    height: var(--avatar-normal);
    width: var(--avatar-normal);
    border-radius: 50%;
    border: 1px solid #696969;
    margin:0;
  }
  
  
  .feedHeader .user {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .feedHeader .name {
    margin-left: var(--space-xsmall);
  }
  
  .feedHeader .display_name  {
  font-weight: var(--bold);
  color:var(--fg);
  text-decoration: none;
  margin:0; padding:0; display: block;
  }

  
  .feedHeader .bio {
    line-height: 1.25;
  }
  
  .footer {
    padding:var(--space-xsmall);
  }
  
  
  .icon {
    color: white;
    display: block;
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 15px;
  }
  
  .icon:last-child {
    margin-right: 0;
  }
  
  .header-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  li.icon svg 
  {color:var(--fg); height:32px; }